
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    background-color: whitesmoke;
    padding: 20px 0;
}

.logo-runacoss img {
    max-width: 50px;
    margin-left: 97px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links li a {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
}

.nav-links li a:hover {
    color: rgb(31, 31, 31);
}

.cover {
    background-image: url('/images/2148913245.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 100px 0;
}

.cover-text h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.cover-text p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.btn {
    display: inline-block;
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.2rem;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: whitesmoke;
    color: black;
}

.about-us {
    padding: 80px 0;
    text-align: center;
}

.about-us h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.about-us p {
    font-size: 1.1rem;
    color: #666;
    line-height: 1.6;
}
